{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Последние статьи
{% endblock title %}

{% block content %}
<form method="GET">
    {{ filter.form }}
    Дата:<input type="date">
    <input type="submit" value="Поиск">
</form>
    <h1>Последние статьи</h1>
    <h3>Всего статей: {{ posts | length }}</h3>
    <a href="add"><h3>Написать статью</h3></a>
<hr> {% if posts %}
{% for post in filter.qs %}
<table>
    <tr>
    <td>

        <a href="{{ post.id }}"> <h1>{{ post.title | censor}}</h1></a>
        <p style="text-align: left;">{{ post.created | date:'d M Y, H:m'}} {{post.author.user_name}}</p>
        <p style="text-align: left;"><a href="{% url 'newpost' post.id %}">Редактировать</a>
            <a href="{% url 'delpost' post.id %}">Удалить</a> </p>
        <h2>{{ post.text | truncatewords:20 }}</h2>
        <br>

    </td>

    </tr>
</table>
{% endfor %}
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock content %}
